body {
    font-family: 'Trebuchet MS', monospace;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}


.page-heading {
    text-align: center;
    margin-bottom: 10px;
}

.page-heading h1 {
    font-family: Georgia, sans-serif;
    color: rgb(129, 135, 143);
    font-size: 2.75em;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 200%;
}

.login-container {
    
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}

.login-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #369ac9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#3399dd ;
}

.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
}

.footer-button {
    margin-left: 10px;
    background-color: #0275d8;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.footer-button:hover {
    background-color: #0275d8;
}
